@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-lines {
    background-image: url('../svg/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @screen md {
        background-size: 100%;
    }
}
